@import url(https://fonts.bunny.net/css?family=roboto:400,400i,700);

:root {
    --icon-snow: url("../images/icons8-snow-100.png");
    --icon-thunder-rain: url("../images/icons8-storm-100.png");
    --icon-thunder-showers-day: url("../images/icons8-stormy-weather-100.png");
    --icon-rain: url("../images/icons8-rain-100.png");
    --icon-showers-day: url("../images/icons8-rain-cloud-100.png");
    --icon-fog: url("../images/icons8-dust-100.png");
    --icon-wind: url("../images/icons8-wind-100.png");
    --icon-cloudy: url("../images/icons8-clouds-100.png");
    --icon-partly-cloudy-day: url("../images/icons8-partly-cloudy-day-100.png");
    --icon-partly-cloudy-night: url("../images/icons8-night-100.png");
    --icon-clear-day: url("../images/icons8-sun-100.png");
    --icon-clear-night: url("../images/icons8-moon-and-stars-100.png");
    
    --icon-precipitation: url("../images/water-cropped.svg");

    --icon-left-arrow: url("../images/chevron-left.svg");
    --icon-right-arrow: url("../images/chevron-right.svg");

    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;

    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

.page-header {
    display: flex;
    align-items: center;

    height: 50px;
    box-shadow: var(--standard-box-shadow);
    padding: 0 20px;
}

.page-title {
    font-size: 2rem;
    font-weight: 700;
}

.page-content {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-search {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    background-color: var(--textbox-accent-color);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    font-family: inherit;
}

button {
    border-radius: 10px;
    border-style: none;
    background-color: forestgreen;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
}

.current-weather {
    display: flex;
    gap: 20px;
}

.primary-weather-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.primary-weather-info .weather-icon {
    height: 100px;
    width: 100px;
}

.primary-weather-info .temperature {
    font-size: 8rem;
}

.secondary-weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.precipitation-chance {
    display: flex;
    align-items: center;
    gap: 5px;
}

.daily-weather-list-container {
    position: relative;

    border: solid 1px lightgray;
    border-radius: 10px;
    padding: 25px;
    width: 70%;
}

.daily-weather-list-container .scroll-control {
    position: absolute;
    top: 90px;
    height: 30px;
    width: 30px;
}

.daily-weather-list-container .scroll-control.left {
    left: 0px;
}

.daily-weather-list-container .scroll-control.right {
    right: 0px;
}

.daily-weather-list {
    display: flex;
    gap: 20px;

    overflow-x: scroll;
}

.daily-weather-list::-webkit-scrollbar {
    display: none;
}

.daily-weather {
    flex: 1 0 70px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    border: solid lightgray 1px;
    border-radius: 10px;
    padding: 10px;
}

.daily-weather .date {
    margin-bottom: 5px;
}

.daily-weather .weather-icon {
    margin-bottom: 5px;
    height: 50px;
    width: 50px;
}

.icon {
    background-color: black;
    height: 25px;
    width: 25px;
    mask-repeat: no-repeat;
    mask-position: center;
}

.weather-icon {
    background-size: contain;
    height: 25px;
    width: 25px;
}

.weather-icon.snow,
.weather-icon.snow-showers-day,
.weather-icon-snow-showers-night {
    background-image: var(--icon-snow);
}

.weather-icon.thunder-rain,
.weather-icon.thunder-showers-night {
    background-image: var(--icon-thunder-rain);
}

.weather-icon.thunder-showers-day {
    background-image: var(--icon-thunder-showers-day);
}

.weather-icon.rain,
.weather-icon.showers-night {
    background-image: var(--icon-rain);
}

.weather-icon.showers-day {
    background-image: var(--icon-showers-day);
}

.weather-icon.fog {
    background-image: var(--icon-fog);
}

.weather-icon.wind {
    background-image: var(--icon-wind);
}

.weather-icon.cloudy {
    background-image: var(--icon-cloudy);
}

.weather-icon.partly-cloudy-day {
    background-image: var(--icon-partly-cloudy-day);
}

.weather-icon.partly-cloudy-night {
    background-image: var(--icon-partly-cloudy-night);
}

.weather-icon.clear-day {
    background-image: var(--icon-clear-day);
}

.weather-icon.clear-night {
    background-image: var(--icon-clear-night);
}

.icon.precipitation {
    mask-image: var(--icon-precipitation);
    background-color: rgb(75, 75, 255);
    height: 15px;
    width: 10px;
}

.icon.left {
    mask-image: var(--icon-left-arrow);
}

.icon.right {
    mask-image: var(--icon-right-arrow);
}