@import url(https://fonts.bunny.net/css?family=roboto:400,400i,700);

:root {
    --icon-snow: url("../images/weather-snowy-heavy.svg");
    --icon-snow-showers-day: url("../images/weather-partly-snowy.svg");
    --icon-thunder-rain: url("../images/weather-lightning-rainy.svg");
    --icon-thunder-showers-day: url("../images/weather-partly-lightning.svg");
    --icon-rain: url("../images/weather-pouring.svg");
    --icon-showers-day: url("../images/weather-partly-rainy.svg");
    --icon-fog: url("../images/weather-fog.svg");
    --icon-wind: url("../images/weather-windy.svg");
    --icon-cloudy: url("../images/weather-cloudy.svg");
    --icon-partly-cloudy-day: url("../images/weather-partly-cloudy.svg");
    --icon-partly-cloudy-night: url("../images/weather-night-partly-cloudy.svg");
    --icon-clear-day: url("../images/weather-sunny.svg");
    --icon-clear-night: url("../images/weather-night.svg");
    
    --icon-precipitation: url("../images/water-cropped.svg");

    --standard-box-shadow: rgb(156, 156, 156) 1px 1px 5px;

    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 100vw;
}

.page-header {
    display: flex;
    align-items: center;

    height: 50px;
    box-shadow: var(--standard-box-shadow);
    padding: 0 20px;
}

.page-title {
    font-size: 2rem;
    font-weight: 700;
}

.page-content {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location-search {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    background-color: var(--textbox-accent-color);
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-size: 1rem;
    font-family: inherit;
}

button {
    border-radius: 10px;
    border-style: none;
    background-color: forestgreen;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px;
}

.current-weather {
    display: flex;
    gap: 20px;
}

.primary-weather-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.primary-weather-info .icon {
    height: 150px;
    width: 150px;
}

.primary-weather-info .temperature {
    font-size: 8rem;
}

.secondary-weather-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.precipitation-chance {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon {
    background-color: black;
    height: 25px;
    width: 25px;
    mask-repeat: no-repeat;
    mask-position: center;
}

.icon.snow,
.icon-snow-showers-night {
    mask-image: var(--icon-snow);
}

.icon.snow-showers-day {
    mask-image: var(--icon-snow-showers-day);
}

.icon.thunder-rain,
.icon.thunder-showers-night {
    mask-image: var(--icon-thunder-rain);
}

.icon.thunder-showers-day {
    mask-image: var(--icon-thunder-showers-day);
}

.icon.rain,
.icon.showers-night {
    mask-image: var(--icon-rain);
}

.icon.showers-day {
    mask-image: var(--icon-showers-day);
}

.icon.fog {
    mask-image: var(--icon-fog);
}

.icon.wind {
    mask-image: var(--icon-wind);
}

.icon.cloudy {
    mask-image: var(--icon-cloudy);
}

.icon.partly-cloudy-day {
    mask-image: var(--icon-partly-cloudy-day);
}

.icon.partly-cloudy-night {
    mask-image: var(--icon-partly-cloudy-night);
}

.icon.clear-day {
    mask-image: var(--icon-clear-day);
}

.icon.clear-night {
    mask-image: var(--icon-clear-night);
}

.icon.precipitation {
    mask-image: var(--icon-precipitation);
    height: 15px;
    width: 10px;
}